.awards {
	min-height: 100vh;
	background-color: $white;
	padding: 0;

	@include max(1024) {
		height: auto;
		padding: 108px 0;
	}

	@include max(sm) {
		height: auto;
	}

	&__container {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;

		@include max(1024) {
			min-height: 0;
		}
	}

	&__item {
		@include max(md) {
			width: calc(50% - 30px);
			max-width: 100%;
			margin-top: 60px;
		}

		@include max(xs) {
			width: 100%;
		}
	}

	&__image {
		height: vw(68);

		@include max(md) {
			height: 68px;
		}

		@include max(sm) {
			height: 64px;
		}

		@include max(xs) {
			height: 56px;
		}

		img {
			height: 100%;
			width: auto;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: vw(100);

		@include max(md) {
			flex-wrap: wrap;
			margin-top: 0;
		}
	}

	&__info {
		width: 100%;
		max-width: vw(196);

		@include max(md) {
			max-width: 200px;
		}

		@include max(xs) {
			max-width: 100%;
		}
	}

	&__name {
		margin-top: vw(33);
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		color: $black;

		@include max(sm) {
			margin-top: 33px;
		}

		@include hover {
			color: $red;
		}
	}

	&__text {
		margin-top: vw(23);

		@include max(sm) {
			margin-top: 23px;
		}
	}
}
