.contacts {
	min-height: 100vh;
	background-color: $black;

	@include max(1024) {
		padding: 108px 0;
	}

	@include max(sm) {
		padding: 70px 0;
	}

	&__container {
		min-height: 100vh;
		display: flex;
		align-items: center;

		@include max(1024) {
			min-height: 0;
		}

		@include max(sm) {
			display: flex;
			align-items: stretch;
			flex-direction: column;
		}
	}

	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@include max(md) {
			flex-direction: column;
		}
	}

	&__city {
		font-family: $secondaryFont;
		font-style: normal;
		color: #9e9e9e;
		font-weight: 500;
		font-size: 25px;
		line-height: 140%;
		margin-top: 17px;
		display: inline-block;

		//@include min(1600) {
		//	font-size: vw(25);
		//	margin-top: vw(17);
		//}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 80px;

		@include max(sm) {
			margin-top: 30px;
		}
	}

	&__type {
		font-size: 13px;
		line-height: (16 / 13);
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #9e9e9e;

		margin-top: 30px;

		//@include min(1600) {
		//	font-size: vw(13);
		//	margin-top: vw(30);
		//}
	}

	&__link {
		text-decoration: none;
		color: $white;
		font-weight: 600;
		font-size: 19px;
		line-height: (42 / 35);
		margin-top: 17px;
		transition: all 0.3s;
		font-style: normal;

		@include hover {
			&:not(address) {
				color: $red;
			}
		}

		@include max(sm) {
			font-size: 18px;
			margin-top: 17px;
		}
	}

	&__text {
		max-width: 416px;
		font-size: 25px;

		@include max(md) {
			margin-top: 72px;
		}

		//@include min(1600) {
		//	font-size: vw(25);
		//	max-width: vw(416);
		//}
	}

	&__form {
		width: calc(100% - 450px);
		max-width: 660px;

		@include max(md) {
			width: 100%;
		}
	}

	&__form-row {
		display: flex;
		width: 100%;
		margin-top: 77px;

		@include max(md) {
			width: 100%;
		}

		@include max(sm) {
			flex-direction: column;
			margin-top: 30px;
		}
	}

	&__footer {
		margin-top: 65px;

		@include max(md) {
			margin-top: 35px;
		}
	}

	&__error-text {
		position: absolute;
		bottom: -20px;
		font-size: 14px;
		color: $red;
		font-weight: 500;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s;

		//@include min(1600) {
		//	font-size: vw(25);
		//	max-width: vw(416);
		//}
	}

	&__social {
		margin-top: 30px;
		display: none;

		@include max(sm) {
			display: flex;
		}
		svg {
			fill: $white;
		}
	}
}
