.home {
	min-height: 100vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 108px;

	@include max(1024) {
		position: relative;
	}

	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include max(md) {
				object-position: 17% 0%;
			}

			@include max(sm) {
				object-position: center left;
			}

			@include max(xs) {
				object-position: top left;
			}
		}
	}

	&__container {
		position: relative;
		height: 100%;
	}

	&__content {
		position: absolute;
		left: 15px;
		bottom: 19.5%;

		@include max(1440) {
			left: 56px;
		}

		@include max(sm) {
			left: 24px;
			width: calc(100% - 48px);
		}

		@include max(xs) {
			bottom: 11.1%;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 710px;
		padding-top: 36px;

		@include max(1400) {
			padding-top: 0;
			width: 645px;
		}

		@include max(md) {
			width: vw(920);
		}

		@include max(xs) {
			width: 100%;
		}
	}

	&__text {
		max-width: 263px;
		margin-top: 45px;

		@include max(md) {
			max-width: vw(370);
			margin-top: vw(45);
		}

		@include max(xs) {
			max-width: vws(155);
			margin-top: vws(50);
		}
	}

	&__scroll-down {
		margin-top: 35px;

		//@include min(1600) {
		//	margin-top: vw(35);
		//}

		@include max(xs) {
			margin-top: vws(34);
		}

		svg {
			width: 22px;
			height: 71px;

			@include max(xs) {
				display: none;
			}

			&:last-child {
				display: none;

				@include max(xs) {
					display: block;
					height: vws(46);
					width: vws(14);
				}
			}

			@include max(md) {
				width: vw(35);
				height: vw(113);
			}
		}
	}
}
