.portfolio {
	background-color: $white;
	padding: 0 !important;

	&__item {
		width: calc(33.333333333333333% - (((28 / 1600)) * 100%));
		margin-bottom: calc((((42 / 1600)) * 100%));

		@include max(md) {
			width: calc(50% - 10px);
			margin-bottom: 20px;
		}

		@include max(sm) {
			width: 100%;
			margin-bottom: 0;
		}

		img {
			width: 100%;
			object-fit: cover;
		}

		&-name {
			@include max(md) {
				font-size: 25px;
			}
		}

		&.is-active {
			.portfolio__overlay {
				opacity: 1 !important;
				pointer-events: auto;

				svg {
					transform: rotate(0deg);
				}
			}
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $red;
		width: 100%;
		height: 100%;
		padding: vw(38) vw(41);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		opacity: 0;
		pointer-events: none;
		transition: all 0.4s;
		cursor: pointer;

		@include max(md) {
			padding: 24px;
		}
	}

	&__button {
		border: none;
		outline: none;
		background-color: transparent;
		padding: 0;
		align-self: flex-end;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		@include hover {
			svg {
				transform: rotate(0deg);
			}
		}

		svg {
			width: 30px;
			height: 30px;
			transform: rotate(-45deg);
			stroke: $white !important;
			transition: all 0.3s;

			@include max(md) {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__gutter {
		width: calc((((42 / 1600)) * 100%));

		@include max(md) {
			width: 20px;
		}

		@include max(sm) {
			width: 0;
		}
	}
}
