.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	pointer-events: none;

	@include max(sm) {
		display: none;
	}

	&--dark {
		.social__link {
			svg {
				fill: $black;
			}
		}

		.footer__copy {
			color: $black;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 39px 47px;

		@include min(1600) {
			padding: vw(35) vw(49);
		}

		@include max(md) {
			padding: 24px 26px;
		}
	}

	&__social {
		.social__link {
			pointer-events: auto;
			svg {
				transition: all 0.3s ease-out;
			}

			&:first-child {
				svg {
					width: 10px;

					@include min(1600) {
						width: vw(10);
					}
				}
			}
			&:not(:last-child) {
				margin-right: 40px;

				@include min(1600) {
					margin-right: vw(35);
				}
			}

			@include hover {
				svg {
					fill: $red;
				}
			}
		}
		svg {
			fill: $white;
		}
	}

	&__copy {
		font-size: 15px;
		line-height: (18 / 15);
		font-family: $secondaryFont;
		font-weight: 400;
		color: $white;

		@include min(1600) {
			font-size: vw(15);
		}
	}
}
