html {
	font-size: $fs-main;
}

body {
	font-family: $mainFont;
	color: $black;
	background-color: $black;

	&.scroll-stopped {
		overflow: hidden !important;
	}
}

.container {
	width: 100%;
	max-width: 1326px;
	padding: 0 15px;
	margin: 0 auto;
	@include max(1440) {
		padding: 0 56px;
	}

	@include max(sm) {
		padding: 0 24px;
	}
}

.fancybox__slide.can-zoom_in .fancybox__content,
.fancybox__slide.can-zoom_in .fancybox__image {
	max-height: 100% !important;
}
