html {
	font-size: $fs-main;
}
body {
	font-family: $mainFont;
	color: $black;

	&.scroll-stopped {
		overflow: hidden !important;
	}
}

.container {
	width: vw(1326);
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;

	@include max(sm) {
		padding: 0;
		width: calc(100% - 50px);
	}
}

.main {
	overflow-x: hidden;
	overflow-y: auto;
}
