.navigation {
	padding: 0 0 10px;
	position: relative;
	z-index: 2;

	@include max(md) {
		padding: 0;
	}

	@include max(sm) {
		position: absolute;
		right: -150%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		background-color: $white;
		transition: 0.3s linear;
		padding: vws(24) vws(24) vws(31);
		z-index: 100;

		@media (max-height: 500px) {
			padding: 24px 24px 31px;
		}
	}

	&.is-active {
		right: 0;

		.navigation__item {
			&:nth-child(1) {
				animation: navAnimation 400ms linear 300ms forwards;
			}
			&:nth-child(2) {
				animation: navAnimation 400ms linear 400ms forwards;
			}
			&:nth-child(3) {
				animation: navAnimation 400ms linear 500ms forwards;
			}
			&:nth-child(4) {
				animation: navAnimation 400ms linear 600ms forwards;
			}
			&:nth-child(5) {
				animation: navAnimation 400ms linear 700ms forwards;
			}
		}
	}

	&__social {
		@include max(xs) {
			width: vws(140) !important;
		}
	}

	.social__link {
		color: $black;

		@include max(sm) {
			font-size: vws(14);
			line-height: (33 / 28);
			font-weight: 500;
			letter-spacing: 0.03em;
		}

		@include max(xs) {
			font-size: vws(18);
		}
	}

	.navigation__mobile-heading,
	.navigation__mobile-footer {
		display: none;

		@include max(sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__list {
		display: flex;

		@include max(sm) {
			flex-direction: column;
			padding-bottom: 37px !important;
			overflow-x: hidden;
			overflow-y: auto;
		}

		@media (max-height: 500px) {
			padding: 24px 24px 31px;
			height: 90%;
		}
	}

	&__item {
		@include max(sm) {
			transform: translateX(60px);
			opacity: 0;
		}

		&:not(:last-child) {
			margin-right: 40px;

			@include max(sm) {
				margin-right: 0;
			}
		}

		@include max(sm) {
			margin-top: 30px;
		}

		&:not(:first-child) {
			@include max(sm) {
				margin-top: 20px;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $white;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 500;
		transition: color 0.3s;

		@include max(sm) {
			color: $black;
			text-transform: capitalize;
			font-size: vws(18);
			line-height: (33 / 28);
			font-weight: 500;
			letter-spacing: 0.03em;
		}

		@include max(xs) {
			font-size: vws(28);
		}

		@include hover {
			color: $red;
		}

		&.current {
			color: $red;
		}
	}

	&__close {
		position: relative;
		width: vws(14);
		height: vws(14);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		background-color: transparent;
		padding: 0;
		stroke: $black;

		&::after {
			content: "";
			position: absolute;
			width: vws(40);
			height: vws(40);
			left: vws(-13);
			top: vws(-13);
			right: vws(-13);
			bottom: vws(-13);
			background-color: transparent;
		}

		svg {
			height: vws(14);
			width: vws(14);
		}
	}

	&__copy {
		font-size: 15px;
		line-height: 18px;
		font-family: $secondaryFont;
		font-weight: 400;
	}
}

@keyframes navAnimation {
	0% {
		opacity: 0;
		transform: translateX(60px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
