.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 121px;

	@include max(sm) {
		width: vws(121);
	}

	&__link {
		color: $white;
		text-decoration: none;
		transition: all 0.3s;
		font-weight: 500;
		font-size: 13px;
		font-family: $mainFont;

		@include hover {
			color: $red;
		}
	}
}
