.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 121px;

	@include max(sm) {
		width: vws(121);
	}

	&__link {
		svg {
			height: 18px;
			width: 24px;

			//@include min(1600) {
			//	height: vw(18);
			//	width: vw(24);
			//}

			@include max(xs) {
				height: vws(12);
				width: vws(19);
			}

			@include max(sm) {
				height: vws(10);
				width: vws(15);
			}
		}
	}
}
