mixin social(className)
	.social(class= className)
		a.social__link(href="https://www.facebook.com/iskaliningrad" target="_blank")
			+icon('facebook')
		a.social__link(href="https://www.instagram.com/inster.studio/" target="_blank")
			+icon('instagram')
		a.social__link(href="https://www.behance.net/insterstudio" target="_blank")
			+icon('behance')
		a.social__link(href="https://www.linkedin.com/company/insterstudio" target="_blank")
			+icon('linkedin')