mixin social(className)
	.social(class= className)
		a.social__link(href="#")
			+icon('facebook')
		a.social__link(href="#")
			+icon('instagram')
		a.social__link(href="#")
			+icon('behance')
		a.social__link(href="#")
			+icon('linkedin')