mixin social(className)
	.social(class= className)
		a.social__link(href="https://www.facebook.com/iskaliningrad")
			+icon('facebook')
		a.social__link(href="https://www.instagram.com/inster.studio/")
			+icon('instagram')
		a.social__link(href="https://www.behance.net/insterstudio")
			+icon('behance')
		a.social__link(href="https://www.linkedin.com/company/insterstudio")
			+icon('linkedin')