mixin social(className)
	.social(class= className)
		a.social__link(href="https://www.facebook.com/iskaliningrad" target="_blank") FB.
		a.social__link(href="https://www.instagram.com/inster.studio/" target="_blank") IG.
		a.social__link(href="https://www.behance.net/insterstudio" target="_blank") BE.
		a.social__link(href="https://www.linkedin.com/company/insterstudio" target="_blank") LI.