.modal
	.modal__spinner
		svg.spinner(viewBox='0 0 50 50')
			circle.path(cx='25' cy='25' r='20' fill='none' stroke-width='5')
	.modal__dialog 
		//-button.modal__close 
		//-	+icon('close')
		h4.modal__title.title--small Thank you!
		p.text.modal__text We will contact you soon.
