extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include blocks/home
	section.about.section
		.container
	section.portfolio.section
	section.awards.section
		.container
	section.contacts.section
		.container