extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include blocks/home
	include blocks/about
	include blocks/portfolio
	include blocks/awards
	section.contacts.section
		.container