section.about.section.pp-scrollable(data-anchor="about")#about
	.container.about__container
		.about__wrapper
			.about__left
				.about__image 
					img(src="images/about-photo.jpg", alt="")
					.about__tag
						span.about__name.title--small.title--white Kirill Chernyy
						span.about__rank.title--white Principal
			.about__content
				h2.title.title--medium.about__title Our mission is to create <span class="text--red">awe&nbsp;-&nbsp;inspiring work</span>, pushing the boundaries of our craft.
				.about__row 
					p.text.about__text INSTER STUDIO is a creative rendering studio specializing in high-end architectural visualisation based in Kaliningrad, Russia. We help customers on a global basis.
					p.text.about__text With expertise and experience accumulated over more than years of work, we create engaging impactful images that enable our clientele to communicate their ideas to life in the best possible way. We value our relationships with our customers. Our goal is to forge a long-term business partnerships.