section.about.section
	.container
		.about__wrapper
			.about__left
				.about__image 
					img(src="images/about-photo.jpg", alt="")
					.about__tag
						span.about__name.text.text--big.text--white Kirill Chernyy
						span.about__rank.text.text--white Principal
				span.about__desc Our mission is to create awe-inspiring work, pushing the boundaries of our craft.
			.about__content
				h2.title.title--medium.about__title Hey,</br>a brief intro about us!
				.about__row 
					p.text.about__text INSTER STUDIO is a creative rendering studio specializing in high-end architectural visualisation based in Kaliningrad, Russia. We help customers on a global basis.
					p.text.about__text With expertise and experience accumulated over more than years of work, we create engaging impactful images that enable our clientele to communicate their ideas to life in the best possible way. We value our relationships with our customers. Our goal is to forge a long-term business partnerships.
				.about__links 
					a.about__link.text.text--small.text--red.text--upper(href="#") / Interior and exterior 3d renderings 
					a.about__link.text.text--small.text--red.text--upper(href="#") / 3d roduct visualization
					a.about__link.text.text--small.text--red.text--upper(href="#") / Photo-montages    
					a.about__link.text.text--small.text--red.text--upper(href="#") / 2d and 3d floor plan renderings.