section.awards.section(data-anchor="awards")#awards
	.container.awards__container 
		h2.awards__title.title.title--medium Things We’re <span class="text--red">proud </span>of
		.awards__content
			.awards__item 
				.awards__image
					img(src="images/awards/3ddd.png", alt="3ddd.ru")
				.awards__info
					a(target="_blank" href="https://3ddd.ru").awards__name.text 3ddd.ru
					p.awards__text.text 3D AWARD gallery , "Once Upon a Time... in NYC"
			.awards__item 
				.awards__image
					img(src="images/awards/renderu.png", alt="renderu.com")
				.awards__info
					a(target="_blank" href="https://renderu.com").awards__name.text renderu.com
					p.awards__text.text 3D AWARD architectural gallery, "Once Upon a Time... in NYC"
			.awards__item 
				.awards__image
					img(src="images/awards/3dempire.png", alt="3dempire.org")
				.awards__info
					a(target="_blank" href="https://3dempire.org").awards__name.text 3dempire.org
					p.awards__text.text 3D AWARD art gallery, "Once Upon a Time... in NYC" 
			.awards__item 
				.awards__image
					img(src="images/awards/CG.png", alt="CGarchitect.com")
				.awards__info
					a(target="_blank" href="https://CGarchitect.com").awards__name.text CGarchitect.com
					p.awards__text.text 3D AWARD nominee, Image Non-Commissioned, "Once Upon a Time... in NYC"

