section.contacts.section(data-anchor="contacts")#contacts
	.container.contacts__container
		.contacts__content 
			.contacts__info 
				h2.title.title--big.title--white Get in touch
				.contacts__links 
					span.contacts__type Address:
					address.contacts__link Kaliningrad, Russia
					span.contacts__type Phone:
					a.contacts__link(href="tel:+79210088576") +79210088576
					span.contacts__type Mail: 
					a.contacts__link(href="mailto:hello@insterstudio.com") hello@insterstudio.com
			form(novalidate).contacts__form
				p.contacts__text.text.text--medium.text--white Drop us a line and let’s make something <span class="text--red">delightful</span>
				.contacts__form-row 
					.input-group.contacts__input-group
						input(type="text" name="name" placeholder="name").input.contacts__input.required
						label.label.contacts__label name
						p.contacts__error-text Error
					.input-group.contacts__input-group
						input(type="email" name="email" placeholder="email").input.contacts__input.required
						label.label.contacts__label email
						p.contacts__error-text Error
				.contacts__form-row 
					.input-group.contacts__input-group
						textarea( name="message" placeholder="message").input.contacts__input
						label.label.contacts__label Message
				.contacts__footer 
					button(type="submit").contacts__button.button Send
		+social('contacts__social')
