section.home.section(data-anchor="home")#home
	.container.home__container
		.home__content 
			h1.title.title--bigest.title--white.home__title Architectural </br> visualization
			.home__row
				a.home__scroll-down(href="#about")
					+icon('arrow-down')
					+icon('arrow-down-mobile')
				p.text.text--big.home__text.text--red is a bit more than just creating images.
