section.home.section
	.container.home__container
		.home__content 
			h1.title.title--bigest.title--white.home__title Architectural </br> visualization
			.home__row
				a.home__scroll-down(href="#")
					+icon('arrow-down')
					+icon('arrow-down-mobile')
				p.text.text--big.text--white.home__text is a bit more than just creating images.
