-var items = [{text: `"Don't be afraid."</br>USA,</br>New York.`, src: "images/portfolio/2.jpg", srcPreview: "images/portfolio/preview/2.jpg", fancy:'portfolio'}, {text: `Once Upon a Time... in NYC.</br>USA,</br>New York.`, src: "images/portfolio/1.jpg", srcPreview: "images/portfolio/preview/1.jpg", fancy:'portfolio'}, {text: 'Cold and warm lights.</br>USA,</br>New York.', src: "images/portfolio/3.jpg", srcPreview: "images/portfolio/preview/3.jpg", fancy:'portfolio'}, {text: 'Grove street residences.</br>USA,</br>California.</br>Client:Edmonds+Lee Architects', src: "images/portfolio/8.jpg", srcPreview: "images/portfolio/preview/8.jpg", fancy:'portfolio'}, {text: 'Grove street residences.</br>USA,</br>California.</br>Client:Edmonds+Lee Architects', src: "images/portfolio/7.jpg", srcPreview: "images/portfolio/preview/7.jpg", fancy:'portfolio'}, {text: 'Grove street residences.</br>USA,</br>California.</br>Client:Edmonds+Lee Architects', src: "images/portfolio/6.jpg", srcPreview: "images/portfolio/preview/6.jpg", fancy:'portfolio'}, {text: 'Fashion ave.</br>USA,</br>New York.', src: "images/portfolio/4.jpg", srcPreview: "images/portfolio/preview/4.jpg", fancy:'portfolio'}, {text: 'Scandinavian interior.</br>Sweden,</br>Gothenburg', src: "images/portfolio/10.jpg", srcPreview: "images/portfolio/preview/10.jpg", fancy:'portfolio'}, {text: 'Scandinavian interior.</br>Sweden,</br>Gothenburg', src: "images/portfolio/9.jpg", srcPreview: "images/portfolio/preview/9.jpg", fancy:'portfolio'}, {text: 'Creative studio.</br>Sweden,</br>Gothenburg.', src: "images/portfolio/12.jpg", srcPreview: "images/portfolio/preview/12.jpg", fancy:'portfolio'}, {text: 'Nelson Tower.</br>USA,</br>New York.', src: "images/portfolio/5.jpg", srcPreview: "images/portfolio/preview/5.jpg", fancy:'portfolio'}, {text: 'Creative studio.</br>Sweden,</br>Gothenburg.', src: "images/portfolio/11.jpg", srcPreview: "images/portfolio/preview/11.jpg", fancy:'portfolio'}];

section.portfolio.section.pp-scrollable(data-anchor="portfolio")#portfolio
	ul.portfolio__list
		.portfolio__gutter
		each item in items
			li.portfolio__item
				img(src= item.srcPreview, alt="")
				.portfolio__overlay(style="opacity: 0;")
					h3.portfolio__item-name.title--small.title--white!= item.text
					button.portfolio__button(data-fancybox= item.fancy data-src= item.src)
						+icon('close')