.title {
	font-family: $mainFont;

	&--bigest {
		font-weight: 600;
		font-size: 105px;
		line-height: 90%;

		//@include min(1600) {
		//	font-size: vw(105);
		//}

		@include max(1400) {
			font-size: 90px;
		}

		@include max(md) {
			font-size: vw(130);
		}

		@include max(xs) {
			font-size: vws(40);
			line-height: 95%;
		}
	}

	&--big {
		font-size: 65px;
		line-height: (70 / 65);
		font-weight: 600;

		@include max(md) {
			font-size: 50px;
		}

		@include max(xs) {
			font-size: 45px;
		}
	}

	&--medium {
		font-weight: 600;
		font-size: 46px;
		line-height: (50 / 46);
	}

	&--small {
		font-weight: 600;
		font-size: 35px;
		line-height: 130%;
	}

	&--white {
		color: $white;
	}
}

.text {
	font-family: $secondaryFont;
	font-weight: normal;
	font-size: 15px;
	line-height: 140%;

	//@include min(1600) {
	//	font-size: vw(15);
	//}

	&--big {
		font-weight: 600;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.01em;

		//@include min(1600) {
		//	font-size: vw(25);
		//}

		@include max(md) {
			font-size: vw(35);
		}

		@include max(xs) {
			font-size: vws(15);
		}
	}

	&--medium {
		font-weight: 500;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.01em;

		//@include min(1600) {
		//	font-size: vw(25);
		//}

		@include max(md) {
			font-size: vw(35);
		}

		@include max(xs) {
			font-size: vws(15);
		}
	}

	&--small {
		font-size: 13px;

		//@include min(1600) {
		//	font-size: vw(13);
		//}
	}

	&--red {
		color: $red;
	}

	&--upper {
		text-transform: uppercase;
	}

	&--white {
		color: $white;
	}
}

.input-group {
	position: relative;
	width: 100%;
	transform: translateX(0);

	& + .input-group {
		width: calc(50% - 24px);
		margin-left: 48px;
		flex-shrink: 0;

		@include max(sm) {
			width: 100%;
			margin-left: 0;
			margin-top: 30px;
		}
	}

	&.has-error {
		animation: errorAnimation 180ms linear 2 forwards;

		input {
			border-color: $red;
		}

		p {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.input {
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 2px solid $white;
	background-color: transparent;
	color: $white;
	font-family: $mainFont;
	font-weight: 400;
	font-size: 20px;
	line-height: (42 / 35);
	letter-spacing: 0.03em;
	padding: 13px 0;

	//@include min(1600) {
	//	font-size: vw(13);
	//	padding: vw(13) 0;
	//}

	&::placeholder {
		opacity: 0;
		visibility: hidden;
	}
}

.label {
	font-weight: 500;
	font-size: 13px;
	line-height: (16 / 13);
	letter-spacing: 0.03em;
	padding: 13px 0;
	color: #9e9e9e;
	text-transform: uppercase;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 0.3s;

	//@include min(1600) {
	//	font-size: vw(13);
	//	padding: vw(13) 0;
	//}
}

.input:focus,
.input:hover,
.input:active {
	background: transparent;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
	top: -23px;

	//@include min(1600) {
	//	top: vw(-23);
	//}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 transparent !important;
	box-shadow: 0 0 0 transparent inset !important;
	background: transparent !important;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	cursor: pointer;
	border: none;
	color: $white;
	background-color: $red;
	font-size: 13px;
	line-height: (16 / 13);
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	width: 220px;

	//@include min(1600) {
	//	padding: vw(12) vw(24);
	//	font-size: vw(13);
	//}

	@include max(md) {
		width: 220px;
	}

	@include max(xs) {
		width: 100%;
	}
}

#pp-nav {
	&.right {
		right: 28px;
	}

	&.is-dark {
		a {
			span {
				background-color: $black;
			}

			&.active {
				span {
					background-color: $red;
				}
			}
		}
	}

	li {
		margin: 19px 7px;
	}

	a {
		span {
			background-color: $white;
			border: none;
			width: 9px;
			height: 9px;
		}

		&.active {
			span {
				background-color: $red;
			}
		}
	}
}

@keyframes errorAnimation {
	0% {
		transform: translateX(0px);
	}

	25% {
		transform: translateX(3px);
	}

	50% {
		transform: translateX(0px);
	}

	75% {
		transform: translateX(-3px);
	}

	100% {
		transform: translateX(0px);
	}
}
