.title {
	font-family: $mainFont;

	&--bigest {
		font-weight: 600;
		font-size: 105px;
		line-height: 90%;

		@include min(1600) {
			font-size: vw(105);
		}

		@include max(1400) {
			font-size: 90px;
		}

		@include max(md) {
			font-size: vw(130);
		}

		@include max(xs) {
			font-size: vws(40);
			line-height: 95%;
		}
	}

	&--medium {
		font-weight: 600;
		font-size: vw(46);
		line-height: (50 / 46);
	}

	&--white {
		color: $white;
	}
}

.text {
	font-family: $secondaryFont;
	font-weight: normal;
	font-size: 15px;
	line-height: 140%;

	@include min(1600) {
		font-size: vw(15);
	}

	&--big {
		font-weight: 600;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.01em;

		@include min(1600) {
			font-size: vw(25);
		}

		@include max(md) {
			font-size: vw(35);
		}

		@include max(xs) {
			font-size: vws(15);
		}
	}

	&--small {
		font-size: 13px;

		@include min(1600) {
			font-size: vw(13);
		}
	}

	&--red {
		color: $red;
	}

	&--upper {
		text-transform: uppercase;
	}

	&--white {
		color: $white;
	}
}
