/* media */
$media-list: (
	"xxs": 375,
	"xs": 560,
	"sm": 767,
	"md": 1079,
	"lg": 1279,
	"xl": 1599,
	"xxl": 1900,
);

/* шрифты */
$mainFont: "SF-Pro-Display", sans-serif;
$secondaryFont: "SF-Pro-Text", sans-serif;
$fs-main: 16px;

/* цвета */
$black: rgb(20, 20, 20);
$white: rgb(255, 255, 255);
$red: rgb(223, 71, 60);
